<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>appinstall</string>
    <key>UserName</key>
    <string>jenkins</string>
    <key>GroupName</key>
    <string>staff</string>
    <key>ProgramArguments</key>
    <array>
      <string>gunicorn</string>
      <string>-b</string>
      <string>127.0.0.1:4000</string>
      <string>app:app</string>
      <string>--error-logfile</string>
      <string>/var/log/appinstall/error_log</string>
      <string>--access-logfile</string>
      <string>/var/log/appinstall/access_log</string>
      <string>--timeout</string>
      <string>600</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Library/Server/Web/Data/Sites/</string>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/var/log/appinstall/error_log</string>
    <key>StandardOutPath</key>
    <string>/var/log/appinstall/access_log</string>
  </dict>
</plist>

