<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>appinstaller</string>
    <key>ProgramArguments</key>
    <array>
      <string>./run.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Library/WebServer/appinstaller</string>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/var/log/appinstaller/error_log</string>
    <key>StandardOutPath</key>
    <string>/var/log/appinstaller/access_log</string>
  </dict>
</plist>
