{% extends "layout.html" %}
{% block body %}
<h2>IPA</h2>
{% if app_list|length > 0 %}
<div class="alert alert-warning" role="alert">
  <p>アプリをインストールする前に証明書をインストールする必要があります</p>
  <p>証明書は<a href="{{ url_for('static', filename='server.crt') }}">ここ</a>からインストールできます</p>
</div>
<form class="form-horizontal" name="selection_app">
  <div class="form-group">
    <label for="selection_app" class="col-sm-2 control-label">App</label>
    <div class="col-sm-10">
      <select name="app_id" id="selection_app" class="form-control" onchange="selected()">
        <option>Select app..</option>
        {% for app in app_list %}
        <option value="{{ url_for('file.index', app_id=app.id) }}">{{ app.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</form>
{% else %}
<h3>Usage</h3>
<ol>
<li><a href="{{ url_for('app.index') }}">アプリ登録</a>を行う</li>
<li>登録したアプリIDに応じてIPAファイルまたはAPKファイルをアップロードする
<pre>
POST /appinstaller/file/&lt;app_id&gt;
Content-Type: multipart/form-data; boundary=foo_bar_baz

File data
</pre>
サンプル
<pre>
$ curl -F file=@sample.ipa http://{{ hostname }}/appinstaller/file/1
</pre>
</li>
<li>モバイルブラウザからこのページを開く</li>
</ol>
{% endif %}
<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>App</th>
    <th>Version</th>
    <th>Date</th>
    <th></th>
    {% if not is_mobile %}
    <th></th>
    {% endif %}
  </tr>
  </thead>
  <tbody>
  {% for ipa in ipa_list %}
  <tr>
    <th scope="row">{{ ipa.id }}</th>
    <th>{{ ipa.ipa_name }}</th>
    <th>{{ ipa.app_version }} ({{ ipa.build_version }})</th>
    <th>{{ ipa.created_at|datetime_fmt }}</th>
    <th><a class="btn btn-primary" href="{{ ipa.plist_uri }}">Install</a></th>
    {% if not is_mobile %}
    <th><a class="btn btn-success" href="{{ ipa.ipa_uri }}" download="{{ ipa.ipa_name }}">Download</a></th>
    {% endif %}
    <th>
      <form action="{{ url_for('file.keep', app_id=ipa.app_id, file_id=ipa.id) }}" method="post">
        {% if ipa.status == 0 %}
        <input type="hidden" name="status" value="1" />
        <button type="submit" class="btn btn-default">Keep</button>
        {% else %}
        <input type="hidden" name="status" value="0" />
        <button type="submit" class="btn btn-warning">Don't Keep</button>
        {% endif %}
      </form>
    </th>
  </tr>
  {% endfor %}
  {% for apk in apk_list %}
  <tr>
    <th scope="row">{{ apk.id }}</th>
    <th>{{ apk.apk_name }}</th>
    <th>{{ apk.version_name }} ({{ apk.version_code }})</th>
    <th>{{ apk.created_at|datetime_fmt }}</th>
    <th><a class="btn btn-primary" href="{{ apk.download_url }}" download="{{ apk.apk_name }}">Install</a></th>
    {% if not is_mobile %}
    <th><a class="btn btn-success" href="{{ apk.download_url }}" download="{{ apk.apk_name }}">Download</a></th>
    {% endif %}
    <th>
      <form action="{{ url_for('file.keep', app_id=apk.app_id, file_id=apk.id) }}" method="post">
        {% if apk.status == 0 %}
        <input type="hidden" name="status" value="1" />
        <button type="submit" class="btn btn-default">Keep</button>
        {% else %}
        <input type="hidden" name="status" value="0" />
        <button type="submit" class="btn btn-warning">Don't Keep</button>
        {% endif %}
      </form>
    </th>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
